.container {
 background-color: #eee;
 width: 1000px;
 margin: 30px auto; 
 display: grid;
 /* grid-template-rows: 150px 150px; */
 /* grid-template-columns: 150px 150px 150px; */
 grid-template-rows: repeat(2, 150px);
 /* grid-template-columns: repeat(3, 150px); */
 /* grid-template-columns: repeat(2, 150px) 1fr; */
 grid-template-columns: repeat(3, 1fr);
 /* grid-template-columns: 1fr 2fr 1fr; */
 /* row-gap: 20px;
 column-gap: 20px; */
 gap: 20px;
}

.item {
  padding: 20px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: antiquewhite;
}

.item--1 {
  background-color: orange;
  /* grid-row-start: 2;
  grid-row-end: 3; */
  grid-row: 2 / 3;
  /* grid-column-start: 2;
  grid-column-end: 3; */
  grid-column: 2 / 3;
  z-index: 1;
}m
.item--2 {
  background-color: rgb(0, 206, 0);
}
.item--3 {
  background-color: violet;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
.item--4 {
  background-color: pink;
  z-index: 1;
}
.item--5 {
  background-color: blue;
  /* grid-row: 1 / 2;
  grid-column: 3 / 4; */
  grid-area: 1 / 3 / 3 / 4; /* grid-area: start line no / start column no / end line no / end column no  */
}
.item--6 {
  background-color: brown;
  /* grid-row: 1 / 2;
  grid-column: 2 / 3; */
  grid-area: 1 / 2 / 2 / 3;
}

