* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #606060;
}
.container {
 width: 80%;
 height: 90vh;
 margin: 30px auto; 
 display: grid;
 grid-template-rows: 50px 100px 200px 50px;
 grid-template-columns: repeat(3, 1fr) 180px;
 grid-template-areas: "head head head head"
                      "box box box side"
                      "main main main side"
                      "foot foot foot foot";
 gap: 5px;
}

.item {
  background-color: rgb(253, 225, 225);
  padding: 10px;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  color: #7d0404;
  border: .5px solid #7e0707;
  text-align: center;
}

.item--1 {
  grid-area: head;
}
.item--5 {
  grid-area: side;
}
.item--6 {
  grid-area: main;
}
.item--7 {
  grid-area: foot;
}

