* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

.container {
 width: 80%;
 height: 90vh;
 margin: 30px auto; 
 display: grid;
 grid-template-rows: [header-start] 10% [header-end box-start] 20% [box-end main-start] 40% [main-end footer-start] 10% [footer-end];
 grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 180px [grid-end];
 gap: 5px;
}

.item {
  background-color: rgb(253, 225, 225);
  padding: 10px;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  color: #7d0404;
  border: .5px solid #7e0707;
  text-align: center;
}

.item--1 {
  grid-row: header-start / header-end;
  grid-column: col-start 1 / grid-end;
}
.item--2 {
}
.item--3 {
}
.item--4 {
}
.item--5 {
  grid-row: box-start / main-end;
  grid-column: col-end 3 / grid-end;
}
.item--6 {
  grid-column: col-start 1 / col-end 3;
}

.item--7 {
  grid-column: col-start 1 / grid-end;
}

